

/* Kleine Tweaks
-------------------------------------------------- */

.carousel-control {
	top: 50%;
}

h3:first-letter {
	text-transform:capitalize;
}

.navbar .divider-vertical {
	width: 1px;
	height: 45px;
	margin: 0 9px;
	overflow: hidden;
	background-color: #08C;
	border-right: none;
}

/* css for datepicker
-------------------------------------------------- */

.ui-datepicker {
z-index: 100 !important;
}

/* css for timepicker
-------------------------------------------------- */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* Header > Search
-------------------------------------------------- */

.navbar-search {
	padding: 0 0px 0 0;
}

.navbar-search .search-query {
	width: 280px;
}

/* css for ???
-------------------------------------------------- */

ul.overview {
	list-style: none;
}

ul.overview {
	padding: 0;
	margin: 0 0 0 20px;
}

ul.overview li {
	position: relative;
	margin: 0 0 10px 0;
}

ul.overview li:last-child {
	position: relative;
	margin: 0 0 8px 0;
}

ul.overview i {
	position: absolute;
	left: -20px;
	top: 2px;
}

/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  background-color: #fff;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand {
  font-size: 18px;
  padding-right: 10;
  padding-left: 20px;
  margin-right: 10px;
  font-style: italic;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.navbar-fixed-top, .navbar-fixed-bottom {
position: relative;
right: 0;
left: 0;
z-index: 1030;
margin-bottom: 0;
}

.first .navbar-inner {
	background: #08C;
}

.second .nav {
	margin-left: -10px;
}

.container.page {
	padding-top:00px;
}

.page-header {
padding-bottom: 17px;
margin: 18px 0;
border-bottom: 1px solid #ED0;
}

.footer {
margin-top: 45px;
padding: 35px 0 36px;
border-top: 1px solid #ED0;
}


.page-header .btn-group {
	margin-top: -30px;
}

/* Home
-------------------------------------------------- */

.hero-unit-home {
background: #ED0 url('/images/intranet-hero-background.png') no-repeat center right;
margin: 20px 0 20px 0;
padding: 15px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border: 2px solid #ED0;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

.show-grid {
margin-top: 0px;
margin-bottom: 10px;
}

.float-member-home {
	margin-bottom: 15px;
	clear:both;
	overflow: hidden;
}

.float-member-home.last {
	margin-bottom: 13px;
}

.float-member-home img {
  display: block;
}

.float-member-home .member-image {
	float: left;
}

.float-member-home .member-details {
	float:left;
	margin: 2px 0 0 12px;
}

.member-details-meta  {
	font-size: 12px;
}

/* Bewoners - Fotocollage
-------------------------------------------------- */

.fotocollage  {
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #4a4a4a;
}

.fotocollage img {
	display: block;
}
.fotocollage a {
	display: block;
	width:94px;
	height:94px;
	float: left;
}

.float-member {
  margin-bottom: 20px;
}

.float-member img {
  display: block}

.member-profile-image,
.member-profile-meta-data {
	margin-top: 11px;
}

.float-member .member-image {
	float: left;
}

.float-member .member-link {
	float:left;
	margin: 6px 0 0 12px;
}

.member-image-field {
	margin: 0 0 0 150px;
}






/* Custom Styles - Agenda
-------------------------------------------------- */

select {
width: auto;
border: 1px solid 
#BBB;
}


table.calendar td {
height: 70px;
}

.calendarBlank {
color: #ccc;
background: #eee;
}

.agenda-title {
font-size: 22px;
text-transform:capitalize;
text-align: center!important;
}

.calendarToday, 
.calendarCell {
width: 128px;
}

.with_entries {
background: #08C;
}

.with_entries a {
color: #fff;
}

.calendarToday {
background: #F2E400;
}

table.calendar td ul {
margin: 0 0 0 16px;
}

.agenda-header {
text-transform:capitalize;
}

/* Custom Styles - Berichten
-------------------------------------------------- */

.message-backdrop {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.message-backdrop.fade {
  opacity: 0;
}
.message-backdrop, .message-backdrop.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.message {
  position: relative;
  z-index: 1;
  overflow: auto;
  float: left;
  width: ;
  margin: 0px 0 20px 0px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.message p {
  padding: 0;
}

.message .close {
  margin-top: 7px;
}
.message.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.message.fade.in {
  top: 50%;
}
.message-header {
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
	position: relative;
}

.message-header .comment-count {
	float: right;
	position: relative;
	padding: 4px 8px;
	top: 2px;
	left: 5px;
}
.carousel {
	position: relative;
	margin-bottom: 0px;
	line-height: 1;
}

.message-body {
  padding: 13px 15px 2px 15px;
}
.message-body p {
  padding: 0;
}
.message-body form {
  margin-bottom: 0;
}
.message-footer {
  background-color: #f5f5f5;
  padding: 14px 15px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 0;
}

.message-footer img {
	padding-right: 8px;
}

.message-footer:before, .message-footer:after {
  display: table;
  content: "";
  zoom: 1;
}
.message-footer:after {
  clear: both;
}
.message-footer .btn {
  float: right;
  margin-left: 5px;
}
.message .popover, .message .twipsy {
  z-index: 12000;
}


/* Stream Items - Berichten
-------------------------------------------------- */

.stream-item-backdrop {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.stream-item-backdrop.fade {
  opacity: 0;
}
.stream-item-backdrop, .stream-item-backdrop.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.stream-item {
  position: relative;
  z-index: 1;
  overflow: auto;
  float: left;
  width: 618px;
  margin: 0px 0 0px 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  *border-bottom: 1px solid #ddd;
  /* IE6-7 */

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.stream-item p {
  padding: 0;
}

.stream-item .close {
  margin-top: 7px;
}
.stream-item.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.stream-item.fade.in {
  top: 50%;
}
.stream-item-header {
  border-bottom: 0px solid #eee;
  padding: 8px 15px 0px 15px;
	position: relative;
}

.stream-item .carousel {
position: relative;
margin-top: 8px;
margin-bottom: 6px;
line-height: 1;
}

.stream-item-header .comment-count {
	float: right;
	position: relative;
	padding: 4px 8px;
	top: 2px;
	left: 5px;
}

.stream-item-body {
  padding: 6px 15px 5px 15px;
}

.stream-item-body.small {
  padding: 14px 15px 13px 15px;
}

.stream-item-body p {
  padding: 0;
}
.stream-item-body form {
  margin-bottom: 0;
}
.stream-item-footer {
  background-color: #f9f9f9;
  padding: 14px 15px 15px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 0;
}

.stream-item-footer img {
	padding-right: 8px;
}

.stream-item-footer .comment-invite {
	float: right;
	position: relative;
	padding: 4px 8px;
	top: 6px;
	left: 5px;
}

.stream-item-footer:before, .stream-item-footer:after {
  display: table;
  content: "";
  zoom: 1;
}
.stream-item-footer:after {
  clear: both;
}
.stream-item-footer .btn {
  float: right;
  margin-left: 5px;
}
.stream-item .popover, .stream-item .twipsy {
  z-index: 12000;
}


/* Reacties
-------------------------------------------------- */

#comment_form textarea.xlarge {
	width: 578px;
}

#comment_form .well {
	margin-bottom: 0px;
}

/* Custom Styles - Documentatie
-------------------------------------------------- 


#documentation .overview li {
	float: left;
	width: 205px;
}*/

#documentation .overview ul {
	padding: 0 0 15px 0;
}

.f_rijtje {
	float: left;
	width: 290px;
}


/* Tabellen
-------------------------------------------------- */

.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
  background-color: #f5f5f5;
}
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
table .headerSortUp.blue, table .headerSortDown.blue {
  background-color: #ade6fe;
}
table .green {
  color: #46a546;
  border-bottom-color: #46a546;
}
table .headerSortUp.green, table .headerSortDown.green {
  background-color: #cdeacd;
}
table .red {
  color: #9d261d;
  border-bottom-color: #9d261d;
}
table .headerSortUp.red, table .headerSortDown.red {
  background-color: #f4c8c5;
}
table .yellow {
  color: #ffc40d;
  border-bottom-color: #ffc40d;
}
table .headerSortUp.yellow, table .headerSortDown.yellow {
  background-color: #fff6d9;
}
table .orange {
  color: #f89406;
  border-bottom-color: #f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange {
  background-color: #fee9cc;
}
table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple {
  background-color: #e2d5f0;
}